@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: large;

}


* > button {
  font-size: 1.3rem;
  padding: 5px;
  margin-top: 20px;
  border: none;
  background-color: white;
  color: black;

  border-radius: 3rem;
  /* width: 4rem; */
  height: 4rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Poor Story', cursive;

}

* > h2 {
  font-size: 1.5rem;
  font-family: 'Gowun Dodum', sans-serif;
  margin-top: 30px;
}

* > p {
  font-size: 21px;
  font-weight: bold;
  padding-top: 1.5rem;
  font-family: 'Gowun Dodum', sans-serif;
}

* > input {
 font-family: 'Gowun Dodum', sans-serif;
 font-size: 18px;
 width: 350px;
 border: none;
 border-bottom: 2px solid  #0c3e97;
 padding-top: 10px;
}

ul, ol {
    list-style: none;
}
a {
    text-decoration: none
}

.total {
  display: flex;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
}
/*알아볼 것*/

.main, .join, .login, .upload {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.header {
  display:flex;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  width: 95%;
  background-color: white;


  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;

}

.header-btns > button{
  margin-left: 30px;
  background-color: transparent;
  font-size: 20px;
}

.upload-btn {
  width: 50px;
  height: 50px;
  border-radius: 5rem;
  padding: 3px;

  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: black;
  color: white;

  cursor: pointer;
}

.main {
  align-items: center;
}

.list {
  /* padding-top: 50px; header의 margin과 같이 감 */
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
  width: 80vw;
}

.list-title {
  display: flex;
  justify-content: space-between;
  
}

.list-title > p {
  font-size: 18px;
  
}

.list-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-body > img {
  margin-top: 25px;
  width: auto; height: auto;
  max-width: 800px;
  max-height: 800px;
}

.list-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list-foot-list {
  display: flex;
  /* align-items: center; */
  
}

.list-foot-list > p {
  padding-right: 20px;
  font-size: medium;
}

.list-foot-btn {
  width: 30px;
  height: 30px;
  padding-top: 1.5rem;
}

/* .join-btns {
  margin-top: 1.5rem;
} */


.upload-inputs > button {
  font-family: 'Gowun Dodum', sans-serif;
  border: none;
}

.upload-inputs > textarea {
  font-family: 'Gowun Dodum', sans-serif;
  width:350px; 
	height:200px; 
  resize:none;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #0c3e97;
  padding: 5px;
}